<div class="container">






    <p ng-if="!vm.projects">Loading...</p>


    <div infinite-scroll='vm.loadMore()' infinite-scroll-distance='1'>
    <div ng-repeat="project in vm.projects track by $index" >
        <div class="row portfolioRow">
            <div class="col-md-4 col-sm-4">
                <!--<img src={{project.img}}>-->
                <a ng-href='{{project.link}}' target="_blank">
                <img ng-src='{{project.img}}' class="portfolioImage">
                    </a>
            </div>
            <div class="col-md-8 col-sm-4">
                <a ng-href='{{project.link}}' target="_blank">
                <h5>{{project.title}}</h5>
                </a>
                <h6>{{project.description}}</h6>
                <h6 class="portfolioTechText">{{project.tech}}</h6>
            </div>

        </div>
    </div>
    </div>





</div>