<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="project in vm.projects">
            <td>{{project.title}}</td>
            <td>{{project.description}}</td>
            <!--<td>-->
                <!--<project-rating value="project.rating" max="5" set-rating="vm.setRating(project, value)">-->
                <!--</project-rating>-->
            <!--</td>-->
            <!--<td>-->

                <!--<button class="btn btn-default" ng-click="vm.upRating(project)">-->
                    <!--<span class="glyphicon glyphicon-plus"> </span>-->
                <!--</button>-->
                <!--<button class="btn btn-default" ng-click="vm.downRating(project)">-->
                    <!--<span class="glyphicon glyphicon-minus"></span>-->
                <!--</button>-->
                <!--<a class="btn btn-default" ng-link="['Details', { id:project.id }, 'Overview']">-->
                    <!--<span class="glyphicon glyphicon-zoom-in"></span>-->
                <!--</a>-->
                <!--<button class="btn btn-default" ng-click="vm.goTo(project.id)">-->
                    <!--<span class="glyphicon glyphicon-zoom-in"></span>-->
                <!--</button>-->
            <!--</td>-->
        </tr>
    </table>

</div>